

.nav-item{
font-family: 'Montserrat', sans-serif;
}

.avatar-img{
width : 80%;
border-radius : 50%;
 }

.avatar-img:hover{
  transform: translateY(-10px);

}

#main-page{
 padding : 5%
 }

.name-tag{
font-family: 'Be Vietnam Pro', sans-serif;
font-size : 5rem;

}

.descript{
margin: 3% auto 6%;
}

.small-descript{
margin-bottom: 15%;
}



.img-center{
padding-top:3%;

}
.img-center:hover{
  transform: translateY(-10px);
}


#Projects{

padding : 3%;


}

.project-showcase{
background-color: #fcf7f5;
padding:3%;

}

.project-case-show-img{
width: 50%;
border-radius:20%;


}

.project-decrip{
margin: 3% auto 10%;
}


#contact{
padding:3%
}



.contact-me{
text-align:center;
padding-bottom:3%

}

.contact-form{
padding:0 10% 3% ;

}

.alert{
margin: 0 10% 3% ;

}

.btn:hover{
transform: scale(1.1);
}

.animate-slide-in {
  animation: slide-in 0.5s both;
}

@keyframes slide-in {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0);
  }
}

.fade-out {
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }

}



.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
    }
}



footer{
text-align : center

}
